* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Lobster;
  color: #616161;
  background-color: rgb(167, 207, 212);
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1440px;
  margin: 0px auto;
}
@media (max-width: 1452px) {
  ._container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

.btn {
  font-family: serif;
  font-size: 20px;
  letter-spacing: 2px;
  background-color: #cc464c;
  padding: 15px 25px;
  color: #fff;
  border-radius: 16px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.btn:hover {
  background-color: #8f3539;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgb(100, 170, 202);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 114px;
}
@media (max-width: 992.98px) {
  .header__container {
    min-height: 80px;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__text {
  position: relative;
  z-index: 5;
  font-size: 30px;
  letter-spacing: 1px;
  padding: 0px 0px 0px 20px;
  color: #fff;
}
.header__text::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  background-color: #cc464c;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
.header__text:hover::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
@media (max-width: 1452px) {
  .header__text span {
    display: none;
  }
}
@media (max-width: 992.98px) {
  .header__text {
    font-size: 20px;
  }
}
@media (max-width: 767.98px) {
  .header__text {
    color: #000;
  }
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.menu__item {
  margin: 0px 0px 0px 40px;
}
@media (max-width: 767.98px) {
  .menu__item {
    margin: 0px 0px 25px 0px;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }
}
.menu__link {
  display: inline-block;
  position: relative;
  font-size: 26px;
  color: #fff;
  letter-spacing: 1px;
}
.menu__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  background-color: #cc464c;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
.menu__link:hover::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
@media (max-width: 992.98px) {
  .menu__link {
    font-size: 20px;
  }
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 16px;
    color: #000;
  }
}
@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(208, 218, 219);
    padding: 120px 15px 30px 15px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .header:target .menu__body {
    left: 0;
  }
  .header:target .menu__body:before {
    content: "";
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: rgb(100, 170, 202);
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__item {
    margin: 0px 0px 30px 0px;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    font-size: 28px;
  }
}
.close-icon-menu,
.icon-menu {
  display: none;
}

@media (max-width: 767.98px) {
  .icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .icon-menu::before,
.icon-menu::after {
    content: "";
    background-color: #000;
    height: 2px;
  }
  .icon-menu span {
    height: 2px;
    background-color: #000;
  }
  .close-icon-menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 30px;
    position: relative;
  }
  .close-icon-menu::before,
.close-icon-menu::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    background-color: #000;
    height: 2px;
  }
  .close-icon-menu::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .close-icon-menu::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header:target .icon-menu {
    display: none;
  }
  .header:target .close-icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.content__container {
  position: relative;
  padding: 50px 0px 30px 0px;
}
@media (max-width: 767.98px) {
  .content__container {
    padding: 20px 0px 20px 0px;
  }
}
.content__gallery {
  padding: 0px 15px;
}

.gallery__title {
  font-size: 30px;
  letter-spacing: 2px;
  color: #000;
  margin: 0px 0px 20px 0px;
  text-align: center;
}
.gallery__items {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.gallery__item {
  background-color: #794f45;
  padding: 0px 0px 85% 0px;
  position: relative;
}
.gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s ease 0s;
  transition: -webkit-transform 0.4s ease 0s;
  -o-transition: transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
}
.gallery__item img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 5;
}
@media (min-width: 800px) {
  .gallery__item_big {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -ms-grid-row-span: 2;
    grid-row: span 2;
  }
}

.block-content__title {
  font-size: 44px;
  text-align: center;
  letter-spacing: 2px;
  margin: 0px 0px 40px 0px;
  line-height: 103%;
}
@media (max-width: 992.98px) {
  .block-content__title {
    font-size: 38px;
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 767.98px) {
  .block-content__title {
    font-size: 34px;
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 479.98px) {
  .block-content__title {
    font-size: 22px;
    margin: 0px;
  }
}
.block-content__arrow {
  position: fixed;
  right: 50px;
  bottom: 45px;
  width: 70px;
  height: 70px;
  -webkit-transition: bottom 0.3s ease 0s;
  -o-transition: bottom 0.3s ease 0s;
  transition: bottom 0.3s ease 0s;
}
.block-content__arrow:hover {
  bottom: 60px;
}
@media (max-width: 767.98px) {
  .block-content__arrow {
    width: 50px;
    height: 50px;
    right: 30px;
  }
}
@media (max-width: 479.98px) {
  .block-content__arrow {
    width: 40px;
    height: 40px;
    right: 20px;
  }
}
.item-block-content {
  padding: 40px 15px;
}
.item-block-content__ya span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  position: relative;
}
.item-block-content__ya span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
  bottom: 150px;
  left: 0;
}
.item-block-content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0px 0px 20px 0px;
}
.item-block-content__label {
  font-size: 35px;
  color: #cc464c;
  letter-spacing: 2px;
  line-height: 114%;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 992.98px) {
  .item-block-content__label {
    font-size: 28px;
    margin: 0px 0px 20px 0px;
  }
}
.item-block-content__text {
  font-size: 22px;
  color: #000;
  letter-spacing: 1px;
  line-height: 141%;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 992.98px) {
  .item-block-content__text {
    font-size: 20px;
    margin: 0px 0px 15px 0px;
  }
}
.item-block-content__button {
  margin: 0px 0px 20px 0px;
}
.item-block-content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media (max-width: 992.98px) {
  .item-block-content__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.item-block-content__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s ease 0s;
  transition: -webkit-transform 1s ease 0s;
  -o-transition: transform 1s ease 0s;
  transition: transform 1s ease 0s;
  transition: transform 1s ease 0s, -webkit-transform 1s ease 0s;
  padding: 0px 0px 32% 0px;
}
.item-block-content__image:hover {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
@media (max-width: 992.98px) {
  .item-block-content__image {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    padding: 0px 0px 66% 0px;
  }
}
.item-block-content__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.item-block-content__front, .item-block-content__back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-block-content__front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.item-block-content__back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.item-block-content__map {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 0px 32% 0px;
}
@media (max-width: 992.98px) {
  .item-block-content__map {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    padding: 0px 0px 66% 0px;
  }
}
.item-block-content__map iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.footer {
  background-color: #33b448;
  padding: 10px 0px;
}
.footer__container {
  min-height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 40px;
}
@media (max-width: 767.98px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__copy {
  color: #fff;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 123%;
}
@media (max-width: 767.98px) {
  .footer__copy {
    margin: 0px 0px 20px 0px;
  }
}
.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__item {
  position: relative;
  width: 90px;
  height: 90px;
}
.footer__item:not(:last-child) {
  margin: 0px 50px 0px 0px;
}
@media (max-width: 479.98px) {
  .footer__item:not(:last-child) {
    margin: 0px 20px 0px 0px;
  }
}
.footer__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}